@import "../../../assets/scss/_variables.scss";

.headerComponent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 86px !important;

  i {
    color: #ffffff;
  }

  .icon-custom {
    color: white !important;
    font-size: 1.5rem;
    // margin-left: 1.5rem;
  }
}
.ant-dropdown {
  box-shadow: 0 0 37px rgba(8, 21, 66, 0.05);
}
.ant-dropdown-menu-item > a.active {
  background: $color-origin;
  color: #ffffff !important;
}
header {
  .navbar {
    width: 100%;
    background: $color-bg !important;

    padding: 2em;
    // border-bottom: 1px solid #edf2f7;
    .icon-menu svg{
      font-size: 1.7em;
    }
    .alta-menu-container .alta_menu {
      margin-top: 10px;
    }

    .alta-menu {
      margin: 10px 0;
    }
  }
  .border-icon {
    border: 1px solid $color-origin !important;
    padding: 1em 1.1em;
    border-radius: 50%;
    display: flex;
    color: $color-origin;
  }
}
