@import "./../../shared/assets/scss/variables";
//======Tab CSS===========
.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  background: $color-origin !important;
}
.ant-tabs-nav-list {
  width: 100% !important;
  .ant-tabs-tab {
    width: 50% !important;
    margin: 0 !important;
    justify-content: space-between !important;
    .ant-tabs-tab-btn {
      margin: 0 auto !important;
      font-size: 1.2em !important;
      color: black !important;
      .anticon {
        vertical-align: 2px;
      }
    }
  }
}
.ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $color-origin !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $color-origin !important;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
  width: 100% !important;
}
.ant-tabs-tab {
  width: 50% !important;
}