$color-text-dark: #495057;
$color-theme: #042954;
$color-button: #362a77;
$color-required: #de032c;
//slider bar -  header
$color-active: #042954;
$text-color-active: #ffa901;
$text-color-active-white: white;
$color-secondary: #030303;
$active-tab: #fbd538;
$color-gray: #646464;
$color-yellow: #ffae01;
$color-yellow-1: #ff9d01;
$color-yellow-2: #ffeec9;
$color-blue: #042954;
$color-bg-gray: #f0f1f3;
$color-text-gray: #646464;
$color-text-red: #c53030;
$color-green: #02723a;

// IMPORTANT COLOR
$color-origin: #be1128;
$color-bg: #fafbfc;
$color-whitehover: rgba(255, 255, 255, 0.7);
$color-activeorder: #f4f7f9;
$box-shadow: 0 13px 16px rgba(8, 21, 66, 0.09);
$opacity: 0.8;

$shadow-card: 0px 12px 33px 0px rgba(62, 73, 84, 0.08);
$color-activepink: #ffb0bb17;

$color-button : #f7a600;